:root {
  --main-color: #0066cc;
  --background: #f9f9f9;
  --text-color: #333;
  --font-base: 'Segoe UI', sans-serif;
}

* {
  box-sizing: border-box;
}

main{
  display: grid;
  grid-template-areas:
                    'side header header header side'
                    'side inputs inputs inputs side';
  grid-gap: 10px;
}

.side{
  grid-area: side;
}

.top{
  grid-area: header;
}

.inputs{
  grid-area: inputs;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

input[type=text]{
    width: 100%;
    
}