:root {
  --main-color: #0066cc;
  --background: #f9f9f9;
  --text-color: #333;
  --font-base: 'Segoe UI', sans-serif;
}

* {
  box-sizing: border-box;
}
div{
    background-color: #f2f2f2;
    padding: 20px;
}

input[type=text]{
    width: 100%;
}